<ion-view view-title="Browse Gallery">

       
        <ion-content class="home-bg" ng-controller="GalleryCtrl" ng-init="getPic()">
            <br><br>
            <h3>Filter media by: </h3>
            <table >
                <tr>
                    <td>My Media Only</td>
                    <td>Clients</td>
                    <td>My Teams</td>
                </tr>
                <tr>
                    <td>
                        <select ng-model="search.UserID">
                            <option value="">no</option>
                            <option value="{{me}}">yes! </option>
                        </select>
                    </td>
                    <td>
                        <select ng-model="search.clientID">
                            <option value="">Choose Client</option>
                            <option ng-repeat="c in clientList" value="{{c.ClientID}}">{{c.Name}} </option>
                        </select>
                    </td>
                    <td>
                        <select ng-model="search.TeamID">
                            <option value="">Choose Client</option>
                            <option ng-repeat="c in clientTeam_list" value="{{c.team_id}}">{{c.team_number}} </option>
                        </select>
                    </td>
                </tr>
            </table>


            <div class="gallery" ng-repeat="c in allImages | filter:search">
                <a target="_blank" href="{{c.URL}}">
                    <img src="{{c.URL}}" alt="Fjords" ng-click="showImages($index)" width="300" height="200">
                </a>
                <div class="desc">{{c.MediaTitle}}</div>
            </div>

            <!--<div>
                <table class="table">
                    <tr ng-repeat="c in allImages | filter:search">
                        <td><img src="{{c.URL}}"  style="height:150px" ng-click="showImages($index)" class="image-list-thumb" /> {{c.MediaTitle}}</td>
                    </tr>
                </table>
            </div>-->
        </ion-content>
</ion-view>
<style>

    
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 45%;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 100px;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>