<ion-view view-title="Browse Gallery">


    <ion-content class="home-bg" ng-controller="GalleryCtrl" ng-init="getPic()">

        <div class="list">

            <label class="item item-input item-select">
                    <div class="input-label">
                    Upload by me:
                    </div>
                      <select ng-model="search.UserID">
                            <option value="">no</option>
                            <option value="{{me}}">yes </option>
                        </select>
                  
                </label>

            <label class="item item-input item-select">
                    <div class="input-label">
                     Clients
                    </div>
                   <select ng-model="search.clientID">
                            <option value="">Choose Client</option>
                            <option ng-repeat="c in clientList" value="{{c.ClientID}}">{{c.Name}} </option>
                        </select>
                  
                </label>


            <label class="item item-input item-select">
                    <div class="input-label">
                     Teams
                    </div>
                     <select ng-model="search.TeamID">
                            <option value="">Choose Team</option>
                            <option ng-repeat="c in clientTeam_list" value="{{c.id}}">{{c.team_name}} </option>
                        </select>
                  
                </label>

        </div>

        <div class="gallery" ng-repeat="c in allImages | filter:search">
            <a target="_blank" href="{{c.URL}}">
                    <img src="{{c.URL}}" id="{{c.MediaID}}" ng-model="imgID" alt="Fjords" on-hold="deletePhoto({{c.MediaID}})" width="300" height="200" >
             </a>
            <div class="pic_desc">{{c.MediaTitle}}</div>
            <p class="pic_desc">{{c.MediaDescription}}</p>
        </div>




        <!--<div>
                <table class="table">
                    <tr ng-repeat="c in allImages | filter:search">
                        <td><img src="{{c.URL}}"  style="height:150px" ng-click="showImages($index)" class="image-list-thumb" /> {{c.MediaTitle}}</td>
                    </tr>
                </table>
            </div>-->

    </ion-content>
</ion-view>
<style>
    div.gallery {
        margin: 9px;
        /*border: 1px solid #ccc;*/
        float: left;
        width: 45%;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: 100px;
    }
      .pic_desc {
        text-align: center;
    }

</style>