<ion-view view-title="Camera">
    <ion-content >

        <ion-scroll>
            <div style="height:350px;width:400px; display:block">
                <img id="myImage2"  style="height:350px;width:400px; display:block" />
            </div>

        </ion-scroll>

        <button  class="button button-calm" ng-click="addImage()">Take Photo</button>

        <button  id="uploadimg"  class="button button-calm enable-pointer-events" ng-click="UploadImages(m)">Upload Photo</button>

        <button id="test1" class="button button-calm enable-pointer-events"   >test</button>

        <input type="text" class="item item-input" ng-model="m.title" placeholder="Add a title" />

        <table>
            <tr>
                <td>   Patient Name  </td>
                <!--<td>   Tags </td>-->
                <td>   Meeting Number</td>
            </tr>
            <tr>
                <td>
                    <select ng-model="m.c_id"  ng-true-value="true" ng-change="getMettings(m.c_id)">
                        <option >Choose Client</option>
                        <option ng-repeat="c in clientList" value="{{c.ClientID}}" >{{c.Name}} </option>
                    </select>
                </td>
                <!--<td>
                    <select ng-model="m.tags">
                        <option selected>Option 1</option>
                        <option>Option 2</option>
                    </select>
                </td>-->
                <td>
                    <select ng-model="m.meetingNum">
                        <option >select meeting number</option>
                        <option ng-repeat="c in meetinglist" value="{{c}}">{{c}} </option>
                    </select>
                </td>
            </tr>
        </table>
        <input type="text" class="item item-input" ng-model="m.desc" placeholder="Add a Description" />

    </ion-content>
</ion-view>
