<ion-view view-title="Camera">
    <ion-content class="home-bg" ng-init="addImage()">

            <ion-scroll>
                <div class="preview">
                    <img id="myImage2" />
                </div>

            </ion-scroll>

            <div class="row">
                <button class="col button button-outline icon-right ion-camera button-balanced enable-pointer-events"
                    ng-click="addImage()">Take Photo</button>
                <button id="uploadimg" ng-show="m.desc" class="col button button-outline icon-right ion-upload button-balanced enable-pointer-events"
                    ng-click="UploadImages(m)">Upload Photo</button>
            </div>
            <!--<button id="uploadimg" class="button button-calm enable-pointer-events" ng-click="UploadImages(m)">Upload Photo</button>-->

            <div class="list">
                <div class="list list-inset">
                    <label class="item item-input">
                    <input type="text" ng-model="m.title"  placeholder="Picture title" required>
                </label>
                    <label class="item item-input">
                    <input type="text" ng-model="m.desc" placeholder="Picture description" required>
                </label>
                </div>
                <label class="item item-input item-select">
                <div class="input-label">
                Patient
                </div>
                <select ng-model="m.c_id" ng-true-value="true" ng-change="getMettings(m.c_id)">
                        <option >Choose Client</option>
                        <option ng-repeat="c in clientList" value="{{c.ClientID}}" >{{c.Name}} </option>
                 </select>
            </label>

                <label class="item item-input item-select">
                <div class="input-label">
                Meeting number
                </div>
                <select ng-model="m.meetingNum">
                                <option >select meeting number</option>
                                <option ng-repeat="c in meetinglist" value="{{c}}">{{c}} </option>
                </select>
            </label>
            </div>


    </ion-content>
</ion-view>