<ion-view view-title="{{user.name}} Hi">
  <ion-content >

    <div class="row text center margin-top-20">
      <button class="col button button-large  btn-home margin-1">
        Media
      </button>
      <button class="col button button-large  btn-home margin-1">
        TO DO
      </button>
    </div>

    <div class="row text center">
      <button class="col button button-large  btn-home margin-1">
        Social and meetings
      </button>
      <button class="col button button-large  btn-home margin-1">
        Notifications
      </button>
    </div>
    

    <div class="round-button text-center  align-bottom" ng-click=" ">
      <div class="round-button-circle" >
        <a  class=" button-icon icon ion-plus-round"></a>
      </div>
    </div>

        <!--Hidden buttons-->
    <div class="hidden-buttons-box align-bottom broder"   >

      <div class="round-button hidden-button-left margin-left-11" >
        <div class="round-button-circle">
          <a  class=" button-icon icon ion-plus-round"></a>
        </div>
      </div>

      <div class="round-button hidden-button-right margin-sides-11" >
        <div class="round-button-circle">
          <a  class=" button-icon icon ion-plus-round"></a>
        </div>
      </div>
      <div class="round-button hidden-button-top text-center" ng-click="">
        <div class="round-button-circle">
          <a class=" button-icon icon ion-plus-round"></a>
        </div>
      </div>

    </div>
        <!--/Hidden buttons-->


  </ion-content>
</ion-view>