<ion-view view-title="{{notification.notification.title}} Detail">
  <ion-content>
    <!--<h1>{{notification.notification.title}}</h1>-->

    <div class="list list-inset">

      <div class="item">
        Id: {{notification.notification.id}}
      </div>
      <div class="item">
        title: {{notification.notification.title}}
      </div>
      <div class="item">
        description: {{notification.notification.description}}
      </div>
      <div class="item">
        createdBy: {{notification.notification.createdBy}}
      </div>
      <div class="item">
        status: {{notification.notification.status}}
      </div>
      <div class="item">
        teamId: {{notification.notification.teamId}}
      </div>
      <div class="item">
        meetingId: {{notification.notification.meetingId}}
      </div>
      <div class="item">
        clientId: {{notification.notification.clientId}}
      </div>
      <div class="item">
        model_Id: {{notification.notification.model_Id}}
      </div>
      <div class="item">
        field1: {{notification.notification.field1}}
      </div>
      <div class="item">
        Client: {{notification.notification.clientId}}
      </div>
      <div class="item">
        User: {{notification.notification.User}}
      </div>
      <div class="item">
        Client: {{notification.notification.clientId}}
      </div>
      <div class="item">
        Meeting: {{notification.notification.Meeting}}
      </div>
      <div class="item">
        Model: {{notification.notification.Model}}
      </div>
      <div class="item">
        PrivacyStatus: {{notification.notification.PrivacyStatus}}
      </div>
      <div class="item">
        Team: {{notification.notification.Team}}
      </div>

    </div>

    <!--<pre>
      <code> 
        id: {{notification.notification.id}}
        title: {{notification.notification.title}}
        description: {{notification.notification.description}}
        createdBy: {{notification.notification.createdBy}}
        status: {{notification.notification.status}}
        teamId: {{notification.notification.teamId}}
        meetingId: {{notification.notification.meetingId}}
        clientId: {{notification.notification.clientId}}
        model_Id: {{notification.notification.model_Id}}
        field1: {{notification.notification.field1}}
        Client: {{notification.notification.clientId}}
        User: {{notification.notification.User}}
        Meeting: {{notification.notification.Meeting}}
        Model: {{notification.notification.Model}}
        PrivacyStatus: {{notification.notification.PrivacyStatus}}
        Team: {{notification.notification.Team}}
       </code>
    </pre>-->

  </ion-content>

</ion-view>