<ion-view view-title="Notifications">
  <ion-content>
    <ion-list>
       <!--href="#/app/notifications/{{notification.id}}"-->
      <ion-item ng-repeat="notification in notifications" ng-click="storeItem(notification)">
         id: {{notification.id}}
         title: {{notification.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
        <!--"description": {{notification.description}}
        "createdBy": {{notification.createdBy}}
        "status": {{notification.status}}
        "teamId": {{notification.teamId}}
        "meetingId": {{notification.meetingId}}
        "clientId": {{notification.clientId}}
        "model_Id": {{notification.model_Id}}
        "field1": {{notification.field1}}
        "Client": {{notification.clientId}}
        "User": {{notification.User}}
        "Meeting": {{notification.Meeting}}
        "Model": {{notification.Model}}
        "PrivacyStatus": {{notification.PrivacyStatus}}
        "Team": {{notification.Team}}-->
