<ion-view view-title="{{notification.notification.title}} Detail">
  <ion-content class="home-bg"> 
    <!--<h1>{{notification.notification.title}}</h1>-->

    <div class="list list-inset">

      <div class="item">
        Id: {{notification.notification.id}}
      </div>
      <div class="item" ng-show="notification.notification.title">
        title: {{notification.notification.title}}
      </div>
      <div class="item" ng-show="notification.notification.description">
        description: {{notification.notification.description}}
      </div>
      <div class="item" ng-show="notification.notification.createdBy">
        createdBy: {{notification.notification.createdBy}}
      </div>
      <div class="item" ng-show="notification.notification.status">
        status: {{notification.notification.status}}
      </div>
      <div class="item" ng-show="notification.notification.team_name">
        team name: {{notification.notification.team_name}}
      </div>
      <div class="item" ng-show="notification.notification.meeting_name">
        meeting name: {{notification.notification.meeting_name}}
      </div>
      <div class="item" ng-show="notification.notification.client_name"> 
        client name: {{notification.notification.client_name}}
      </div>
      <div class="item" ng-show="notification.notification.model_name">
        model name: {{notification.notification.model_name}}
      </div>
      <div class="item" ng-show="notification.notification.field1">
        field1: {{notification.notification.field1}}
      </div>

    </div>

    <!--<pre>
      <code> 
        id: {{notification.notification.id}}
        title: {{notification.notification.title}}
        description: {{notification.notification.description}}
        createdBy: {{notification.notification.createdBy}}
        status: {{notification.notification.status}}
        teamId: {{notification.notification.teamId}}
        meetingId: {{notification.notification.meetingId}}
        clientId: {{notification.notification.clientId}}
        model_Id: {{notification.notification.model_Id}}
        field1: {{notification.notification.field1}}
        Client: {{notification.notification.clientId}}
        User: {{notification.notification.User}}
        Meeting: {{notification.notification.Meeting}}
        Model: {{notification.notification.Model}}
        PrivacyStatus: {{notification.notification.PrivacyStatus}}
        Team: {{notification.notification.Team}}
       </code>
    </pre>-->

  </ion-content>

</ion-view>