<ion-view view-title="Notifications">
  <ion-content  class="home-bg">
    <ion-list >
      <div class="list">
       <!--href="#/app/notifications/{{notification.id}}"-->
      <ion-item class="card item-text-wrap" ng-repeat="notification in notifications" ng-click="storeItem(notification)">
         {{notification.id}}) {{notification.title}}
            <ion-option-button class="button-balanced">More</ion-option-button>
            <ion-option-button class="button-energized">+2</ion-option-button>
            <ion-option-button class="button-assertive">+1</ion-option-button>
      </div>
      </ion-item>
    </ion-list>

    <div class="round-button text-center  align-bottom" ng-if="user.type === 'Admin' " >
      <div class="round-button-circle" >
        <a  class=" button-icon icon ion-plus-round" href="#app/push"></a>
      </div>
    </div>
<!--example for list that open on click -->

    <!--<ion-list>
        <div class="list">
          <ion-item class="card item-text-wrap" ng-click="click1($event)">
            Menu One
            <ion-option-button class="button-balanced">More</ion-option-button>
            <ion-option-button class="button-energized">+2</ion-option-button>
            <ion-option-button class="button-assertive">+1</ion-option-button>
          </ion-item>

          <div class="card" ng-show="show1">
            <div class="item item-text-wrap">The Description of menu 1</div>
          </div>
        </div>

        <div class="list">
          <ion-item class="card item-text-wrap" ng-click="click2($event)"> 
            Menu Two
            <ion-option-button class="button-balanced" ng-click="modal.show()">More</ion-option-button>
            <ion-option-button class="button-energized" ng-click="Tampil4(centang)">+2</ion-option-button>
            <ion-option-button class="button-assertive" ng-click="Muncul4(angka3)">+1</ion-option-button>
          </ion-item>

          <div class="card" ng-show="show2">
            <div class="item item-text-wrap">Description of Menu 2</div>
          </div>
        </div>
      </ion-list>-->


        </ion-content>
</ion-view>