<ion-view view-title="Push Notifications" ng-init="register_notID()">
  <ion-content class="home-bg">

    <div class="list card">
      <form name=push>

        <label class="item item-input item-select">
          <div class="input-label">
          Send to: 
          </div>
          <select ng-model="push.sendTo">
              <option selected>User</option>
              <option >Team</option>
              <option>All</option>
          </select>
      </label>

        <label class="item item-input item-select" ng-if="push.sendTo =='User' " >
          <div class="input-label">
          Users 
          </div>
          <select ng-model="push.id" ng-init="getAllUsers()" >
              <option selected>select User</option>
              <option  ng-repeat="u in user_list" value="{{u.UserID}}">{{u.Name}}</option>
    
          </select>
      </label>

        <label class="item item-input item-select" ng-if="push.sendTo =='Team' ">
          <div class="input-label">
          Teams 
          </div>
          <select ng-model="push.team" ng-init="getAllTeams()">
              <option ng-repeat=" t in team_list" value=" {{t.TeamID}}" >{{t.TeamNumber}}</option>
          </select>
      </label>

        <label class="item item-input item-stacked-label">

      <span class="input-label">Message</span>
      
      <input type="text" placeholder="Message (50 char max)" maxlength="50" ng-model="push.pushMsg" required>
  </form>
  </div>
    <button class="button button-block button-royal" ng-disabled="push.$invalid" ng-click="sendPush()">
  Send
  </button>

<!--
  <button class="button button-block button-positive"  ng-click="register_notID()" type="submit">Save my phone details to DB</button>

  <button class="button button-block button-positive"  ng-click="sendMsg()" type="submit">send push</button>-->


</ion-content>
</ion-view>