<ion-view view-title="{{team.team_name}} Team">
  <ion-content>
    <!--<h1>{{notification.notification.title}}</h1>-->
   
        
<pre>
<code>  

	id: {{team.id}},
	name: {{team.name}},
	Lname: {{team.Lname}},
	D_O_B: {{team.D_O_B}},
	join_date: {{tea.join_date}}
	email: {{team.email}}
	referred: {{team.referred}}
	description: {{team.description}},  
	create_by: {{team.create_by}},
	speacial_info: {{team.speacial_info}},
	phone: {{team.phone}},
	country: {{team.country}},
	city: {{team.city}},
	street: {{team.street}},
	teamName: {{team.team_name}},
	leader: {{team.leader}},
	physio: {{team.physio}},
	technician: {{team.technician}},
	designer: {{team.designer}}
	past_meetings: {{team.past_meetings}}
</code>
</pre>

  </ion-content>
</ion-view>
<!--
{
	id: 34004,
	name: ben,
	Lname: benel,
	D_O_B: 1980-10-31T22:00:00.000Z,
	join_date: 4/18/2017 12:00:00 AM,
	email: ben@b.com,
	referred: ref,
	description: \n                                extra,
	create_by: 0,
	speacial_info: sp,
	phone: 054203023,
	country: Israel,
	city: raanana,
	street: 121,
	teamName: ben berech,
	leader: Ronen,
	physio: Alon,
	technician: Alon,
	designer: Ronen,
	past_meetings: 10
}-->