<ion-view view-title="{{team.team_name}} Team">
	<ion-content>
		<!--<h1>{{notification.notification.title}}</h1>-->


		<div class="list list-inset">

			<div class="item">
				Id: {{team.id}}
			</div>
			<div class="item">
				First name: {{team.name}}
			</div>
			<div class="item">
				Last name: {{team.Lname}}
			</div>
			<div class="item">
				Birthday: {{team.D_O_B}}
			</div>
			<div class="item">
				Join_date: {{team.join_date}}
			</div>
			<div class="item">
				Email: {{team.email}}
			</div>
			<div class="item">
				Referred: {{team.referred}}
			</div>
			<div class="item">
				Description: {{team.description}}
			</div>
			<div class="item">
				Create_by: {{team.create_by}}
			</div>
			<div class="item">
				Speacial_info: {{team.speacial_info}}
			</div>
			<div class="item">

				Phone: {{team.phone}}
			</div>
			<div class="item">
				Country: {{team.country}}
			</div>
			<div class="item">
				City: {{team.city}}
			</div>
			<div class="item">
				Street: {{team.street}}
			</div>
			<div class="item">
				TeamName: {{team.team_name}}
			</div>
			<div class="item">
				Leader: {{team.leader}}
			</div>
			<div class="item">
				Physio: {{team.physio}}
			</div>
			<div class="item">
				Technician: {{team.technician}}
			</div>
			<div class="item">
				Designer: {{team.designer}}
			</div>
			<div class="item">
				Meetings {{team.past_meetings}}
			</div>

		</div>
	</ion-content>
</ion-view>
